<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FacebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
     
        <div class="header">
        <nav class="navbar">
    
          <div class="div2">
            <table>
    
              <tr>
                <td>
                  <div class="icon"><%= image_tag"fc.jpg" %></div>
                </td>
                <td>
                  <div class="div1"><nav class="navbar navbar-light bg-light">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </nav></div>
                </td>
                <td><%= image_tag"margo.jpg" %></td>
                <td>margueritte</td>
                <td><a href="#"><a href="#"><%= image_tag"pro4.png" %></a></td>
                <td><a href="#"><%= image_tag"images.jpg" %></a></td>
                <td><a href="#"><%= image_tag"msg.jpg" %></a></td>
            </table>
            
          </div>
        </nav>
      </div>
      <div class="parts">
        <div class="part1">
    
          <table class="td">
    
            <tr>
              <td><a href=""><%= image_tag"calend.jpg" %></a></td>
            
            </tr>
    
            <tr>
              <td><a href=""><%= image_tag"profile.png" %></a></td>
             
            </tr>
            <tr>
              <td><a href=""><%= image_tag"mess.jpg" %></a></td>
       
            </tr>
          </table>
    
        </div>
      
        <div class="col-sm-6"> 
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <div class="list-group">
          <%= yield   %>
        
          <div class="list-group">
            <h2> Online Friends</h2>
            <% User.all.each do |user| %>
              <tr>
                <td><h3><%= user.email %></h3><br>
                </td>
              </tr>
            <% end %>
            
          </div>
          
        </div>
      </div>
     
    
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <div class="footers">
      <footer>
        welcome to fb
      </footer>
    </div>
  </body>
</html>
